[Desktop Entry]
Name=Annotate
Exec=run.sh %U
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Lomiri-Touch=true
#X-Lomiri-Default-Department-ID=accessories
X-Lomiri-Splash-Image=assets/logo_transparent.svg
X-Lomiri-Splash-Color=#39f
#X-Lomiri-Supported-Orientations=portrait
