[Desktop Entry]
Name=Annotate
Exec=webapp-container --app-id="annotate.semphris" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
